<header class="static-header centered">
    <div class="static-crumb">
        <span class="crumb-link" itemprop="breadcrumb" itemscope itemtype="http://schema.org/Breadcrumb">
            <a itemprop="url" data-navigate href="/about" class="wrapping-anchor" title="About Suite"><span itemprop="name">About</span></a>
        </span>
        <h1 class="crumb-current">
            Guidelines
        </h1>
    </div>
    <div class="center-column spill">
            <p class="article-byline">Suite is a platform that celebrates different perspectives. It's a place to share ideas and opinions, to support, debate and take inspiration from each other.</p>
            <p class="article-byline">To ensure we maintain an environment that allows great ideas to spread, and to defend against behavior that can damage the community, we ask all members to mind a few simple rules.</p>
            </div>

    <p class="static-modified">Last updated <a class="wrapping-anchor" href="https://github.com/suitemedia/policies/blob/master/guidelines.txt"><i class="io io-social-github"></i>August 7, 2014</a></p>
</header>   

<div class="center-column">


    <div class="article-body static-body">

        <h2>Be yourself.</h2>
        <p>Suite is a place to talk about what we know, what we've experienced, what we think. Please contribute only your own stories. And please credit quotes or any third third-party material.</p>

        <h2>Respect each other.</h2>
        <p>As a community of talkers, we understand things can sometimes heat up. We love it when they do. But whether you're winning or losing the argument you can't bully, flame or defame here. If we think you're a troll, or if we think you're attacking another member for any reason, we'll close your account and block you from the service.</p>

<!--         <h2>Don't be cruel.</h2>
        <p>Never post anything that is hateful or threatening to any person or group of people. Please do debate and defend any position you wish. Do it with zeal. But please don't make sexist, racist, or otherwise harrassing remarks against people who aren't quite like you.</p> -->

<!--         <h2>Post like you care.</h2>
        <p>We're a diverse community of people from all around the world trying to play off each other's stories. Many of our members use their writing as a tool to help others – to educate, inspire, comfort or provoke. We love these people. Whatever you choose to post, whatever your goals, please try to mean it.</p>    -->

        <h2 id="please-no-spam">Don't post spam.</h2>
        <p>Our conversations will be deeper, our relationships more real, the world a slightly better place without spam. Spam includes promotional or advertorial copy, rehashed press releases, spun articles, keyword-stuffed listicles, anything written primarily for (or by) robots. If we find it, we'll delete it. If you post it, we'll close your account.</p>

        <h2>Keep reasonably clean.</h2>
        <p>We're not prudes. It's OK to swear, but please don't post anything gratuitously pornographic or profane.</p>

        <h2>Or else?</h2>
        <p>In most circumstances, we'll send you note politely asking what's up. If you wildly or repeatedly fall foul of these rules, we may close your account and blacklist your IP address.</p>

        <p>These rules are designed to defend a free environment against the kinds of things that tend to spoil online discussion. They also exist to be challenged and modified, and are subject to revision. Feel free to get in touch if you see room for improvement.</p>

    </div>
</div>