{% extends "base.html" %}
{% block headscripts %}
{% endblock %}

{% block title %}My stats{% endblock %}
{% block meta-robots %}noindex, nofollow, noodp, noydir{% endblock %}
{% block meta-description %}Suite Stats{% endblock meta-description %}
{% block body-attr %}data-spa="true"{% endblock %}

{% block body-class %}stats{% endblock %}

{% block meta %}
{% endblock %}
{% block container-class %}stats-detail{% endblock %}
{% block shell %}
    {{stats_rendered|safe}}
{% endblock %}
{% block script-application %}
    require(['AdminDetail', 'jquery'], function(AdminDetail, $) {
        $(function() {
            var adminDetail = new AdminDetail({
                
            });
            adminDetail.loadStatsView();
        });
    });
{% endblock script-application %}