<div class="hero full-page detailHero">
    <div class="hero-image-wrapper heroImageWrapper">
      <div class="hero-img" style="background-image: url('{{ STATIC_URL }}images/heroes/bubbles-blue.jpg');"></div>
        <header class="suite-header full-card suiteHeader">
            <div class="suite-details suiteDetails center-column" data-scroll-top="fadeOut">
                <h1 class="suite-name suiteName">Ack!</h1>
                <div class="suite-description-container descContainer">
                    <p>Something went wrong completing that task - we're looking into it now.</p>
                </div>
            </div>
        </header>
    </div>
</div>