<div class="hero full-page detailHero">
  <div class="hero-image-wrapper heroImageWrapper">
      <div class="hero-img" style="background-image: url('//static.suite.io/images/heroes/barringer.jpg');"></div>

       <header class="suite-header full-card suiteHeader">

       <div class="suite-details suiteDetails center-column centered" data-scroll-top="fadeOut">

    <h1 class="suite-name suiteName">That's not here.</h1>
        <div class="suite-description-container descContainer">
            <p class="suite-descript">The page you're looking for no longer exists, or never did. It could be the link was malformed or outdated, or the page has been deliberately removed.</p>
            </div>

                <div class="sub-options subOptions">
                    <ul class="nar-o-links overlay"> 
                        <li><a class="wrapping-anchor" href="/top" data-navigate><i class="io io-ios-flame"></i>Today's top posts</a></li>
                        <li><a class="wrapping-anchor" href="/discussed" data-navigate><i class="io io-ios-undo"></i>Most discussed</a></li>
                        <li><a class="wrapping-anchor" href="/explore" data-navigate><i class="io io-ios-browsers-outline"></i>Featured Suites</a></li>   
                    </ul>
                </div>            
        </div>
        </header>

    </div>

</div>
