<!DOCTYPE html>
<!--
               _
 ___ _   _ _ _| |_ ___
/ __| | | | |_   _/ _ \
\__ \ |_| | | | |   __/
 ___/ ___ |_| |_| \___ 


-->
<html lang="en-us">
  <head>

    <title>Welcome to Suite</title>

    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="description" content=""/>
    <meta name="robots" content="noindex,nofollow,noodp,noydir" />
    
    <meta id="viewport" name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- <link rel="stylesheet" href="//static.suite.io/css/main.css" type="text/css" media="all" /> -->
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all" />
  </head>
  <body class="">

    <div class="shell">


      <div class="page-container pageContainer with-full-hero with-hero">

        <div class="hero full-page detailHero">
            <div class="hero-image-wrapper solid heroImageWrapper">
            <!-- <div class="hero-img" style="background: url('//static.suite.io/images/heroes/tartan2.jpg') 50% 50% no-repeat; background-size: cover;"></div> -->
            <div class="hero-img" style="background: url('/static/images/heroes/tartan2.jpg') 50% 50% no-repeat; background-size: cover;"></div>

       <header class="suite-header full-card suiteHeader">

       <div class="suite-details suiteDetails center-column centered" data-scroll-top="fadeOut">

       <a href="/" rel="home" data-navigate class="nav-but"><span class="suite suite-logo texty big white"></span></a>

    <h1 class="suite-name suiteName white"></h1>
        <div class="suite-description-container descContainer">
            <p class="suite-descript">We're running a scheduled maintenance cycle on this server – try another by refreshing your page. If the problem persists, feel free to let us know:</p>
            </div>

<!--                 <div class="sub-options subOptions">
                    <ul class="nar-o-links overlay"> 
                        <li><a class="wrapping-anchor" href="mailto:help@suite.io" ><i class="io io-ios-email-outline"></i>Send us an email</a></li>                       
                        <li><a class="wrapping-anchor twitter" href="https://twitter.com/suiteio"><i class="io io-twitter"></i>Find us on Twitter</a></li>
                        <li><a class="wrapping-anchor" href="https://facebook.com/suitestories"><i class="io io-social-facebook"></i>or Facebook</a></li>
                    </ul>
                </div>    -->         
        </div>
        </header>            





                    
          </div>
        </div>
      </div>
      
      </div>
  </body>
</html>


