<p>Thanks for signing up. Perfect timing.</p>

<p>Suite has been around for a long time (founded in 1996, it was one of the earliest group blogging communities on the web), but our new project is brand new.</p> 

<p>Last September, we bought the site for its roots – the extraordinary, experimental, cooperative spirit that always made the site seem a little more human, more natural, a little weirder than its contemporaries. </p>

<p>Together with a growing community of experts, teachers, travellers, students and storytellers, we're building a great place to support, provoke and inspire each other with our stories – to make writing, at least here, a little more like talking.</p>

<p>Thanks again, and welcome!<br />
Michael</p>





