<p>Congratulations – you've been accepted into Suite's royalties program. You can track your balance and payments on your stats page at <a href="/stats/royalties">stats/royalties</a>.</p>

<p>We created this program as a partnership between Suite and people like you, the writers who help make our platform special. We're grateful you've decided to take part.</p>
<p>For every dollar we earn, 70¢ is set aside to pay royalties. Your own share is derived from your share of Suite's overall readership. (If your stories are responsible for 10% of the reads, you get 10% of the pot.) 

<p>Visit our support center to <a href="/support/royalties" target="_blank">learn more</a>, and feel free to get in touch if you have any questions at all.</p>

<p>Thanks!<br />
The Suite team</p>