{% extends "base.html" %}

{% block title %}Page not found{% endblock %}
{% block meta-description %}That page does not exist.{% endblock meta-description %}
{% block page-container-attrs %}data-scroll-nav="light"{%endblock%}
{% block page-container-class %}with-full-hero with-hero{% endblock %}

{% block meta %}
<meta property="og:title" content="Page Not Found" />
<meta property="og:description" content="" />
{% endblock %}

{% block body-class %}notfound-page cover-page otherStatic{% endblock%}
{% block shell %}
<div class="page-container pageContainer 404-page activeView" id="supportPage">



          <div class="hero full-page detailHero" data-scroll-nav="light">
              <div class="hero-image-wrapper heroImageWrapper">
                  <div class="hero-img" style="background-image: url('{{ STATIC_URL }}images/heroes/barringer.jpg');"></div>

                   <header class="suite-header full-card suiteHeader">

                   <div class="suite-details suiteDetails center-column" data-scroll-top="fadeOut">

                <h1 class="suite-name suiteName">That's not here.</h1>
                    <div class="suite-description-container descContainer">
                        <p class="suite-descript">The page you're looking for no longer exists, or never did. It could be the link was malformed or outdated, or the page has been deliberately removed.</p>
                        </div>


                    <div class="sec-links white centered overlay">

                    <a class="h-link" href="/"><i class="io io-home"></i>Home</a> 
                    <a class="h-link" href="/popular"><i class="io io-ios-flame"></i>Popular stories</a> 

                    </div>

                    </div>
                    </header>

                </div>

            </div>
        </div>
{% endblock %}
{% block script-application %}
    require(['views/StaticView'], function(sv) {
        'use strict';
        new sv();
    });
{% endblock %}