<!DOCTYPE html>
<html lang="en-us">
  <head>

    <title>Crash!</title>

    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="description" content="Suite is a simpler way to swap stories and learn from each other's experiences."/>
    <meta name="robots" content="noindex,nofollow,noodp,noydir" />
    
    <meta id="viewport" name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/static/css/main.css" type="text/css" /><link rel="stylesheet" href="/static/css/main.css  " type="text/css" media="all" />
    </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49000332-1', 'suite.io');
        {% block ga-script %}{% endblock %}
        ga('send', 'pageview');
      </script>
  </head>
  <body class="no-nav">
    <div class="shell">


      <div class="page-container pageContainer with-full-hero with-hero">

          <div class="hero detailHero" data-scroll-nav="light">
              <div class="hero-image-wrapper heroImageWrapper">
                  <div class="hero-img" style="background-image: url('{{ STATIC_URL }}images/heroes/bubbles-blue.jpg');"></div>

                   <header class="suite-header suiteHeader">
                  <div class="suite-details suiteDetails center-column " data-scroll-top="fadeOut">
        
                    <h1 class="suite-name suiteName">Oh.</h1>
                    <div class="suite-descript suiteDescription">
                        <p>Something went wrong in trying complete that task - we're looking into it now.</p>
                        <p>Apologies!</p>
                    </div>

              </div>
              </header>
          </div>
      </div>
      </div>
      </div>
  </body>
</html>

