<!DOCTYPE html>
<!--
               _
 ___ _   _ _ _| |_ ___
/ __| | | | |_   _/ _ \
\__ \ |_| | | | |   __/
 ___/ ___ |_| |_| \___ 


-->
<html lang="en-us">
  <head>

    <title>Suite is rebooting</title>

    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="description" content="Suite is a simpler way to swap stories and learn from each other's experiences."/>
    <meta name="robots" content="noindex,nofollow,noodp,noydir" />
    
    <meta id="viewport" name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css  " type="text/css" media="all" />
  </head>
  <body class="no-nav">

    <div class="shell">


      <div class="page-container pageContainer with-full-hero with-hero">

        <div class="hero full-page detailHero">
            <div class="hero-image-wrapper heroImageWrapper">
            <div class="hero-img" style="background-image: url('{{ STATIC_URL }}images/heroes/beached.jpg');"></div>
                 <header class="suite-header full-card suiteHeader">

                   <div class="suite-details suiteDetails center-column" data-scroll-top="fadeOut">

                <h1 class="suite-name suiteName">Technical difficulties...</h1>
                                    <div class="suite-description-container descContainer">
                        <p class="suite-descript">Something went wrong completing that task and our engineers have been notified. If the problem persists, feel free to let us know:</p>
                        </div>

                  <div class="card-footer">
                            <a href="/" class="wrapping-anchor"><span class="suite white suite-logo wee pull-left"></span></a>
                            <div class="soc-hangers pull-right">
                                <a class="twitter" href="https://twitter.com/suiteio"><i class="io io-social-twitter"></i></a>
                                <a class="twitter" href="https://facebook.com/suitestories"><i class="io io-social-facebook"></i></a>
                            </div>
                        </div>

                    </div>
                    </header>



                    
          </div>
        </div>
      </div>
      
      </div>
  </body>
</html>


