{% extends "base.html" %}
{%block title%}Reset your password{%endblock%}
{%block meta-description%}Please reset your password{%endblock%}
{% block shell %}
<div class="page-container pageContainer about-page activeView" id="supportPage">
    <div class="static-main">
        <header class="static-header tight">
	        <div class="login-container">
		        <p>Done! You can now use your new credentials to log in.</p>
            </div>
        </header>              
     </div>
</div>
{% endblock %}

{% block script-application %}
require(['jquery', 'views/SupportView'], function($, SupportView) {
    $(function() { new SupportView(); });
});
{% endblock %}
