{% extends "base.html" %}
{%block title%}Reset your password{%endblock%}
{%block meta-description%}Please reset your password{%endblock%}
{% block shell %}
<div class="page-container pageContainer about-page activeView">
    <div class="static-main">
        <header class="static-header tight">
            <div class="login-container" data-view-bind="LoginView">
                <form class="inline-field-form pwResetForm" action="{{ request.path }}" id="pwResetForm">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <input type="password" style="display:none;">
                    <input class="min-form-field main-body" id="password" name="password" placeholder="Choose a new password" type="password" autocomplete="off" />
                    <input class="min-form-field main-body" id="password2" name="password2" placeholder="Type it again" type="password" autocomplete="off" />

                    <div class="reg-bottom centered">
                    <div class="form-error login formError"></div>
                    <button class="reg btn btn-blue restSubmit" type="submit">Continue</button>
                    </div>
                </form>
            </div>
        </header>              
     </div>
</div>
{% endblock %}

{% block script-application %}
require(['views/LoginView'], function(LoginView) {
    new LoginView();

});
{% endblock %}
