{% extends "profiles/login_base.html" %}
{% block inner-content %}
<div class="registration-wrapper">
    <p>Looks like there's already an account created with that email address!</p>
    <p>No problem, just type in your password and we can link the two together so you can log in with your Twitter account or your Suite101 account</p>
    <form class="login-form" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="field-wrapper">
                {{ field.errors }}{{ field }}
                {% if field.name == 'password' %}
                <a href="{%url 'profile_request_reset'%}" class="forgot-password-link" title="Forgot your password?"><i class="io io-ios-help-outline"></i></a>
                {% endif %}
            </div>
        {% endfor %}
        
        <button class="btn btn-login" type="submit">Log in and link accounts</button>
    </form>
</div><!-- /.registration-wrapper -->
{% endblock %}