<div class="page-container pageContainer" id="static-{{viewType}}">
    <div class="static-main archiveDetailView">
   
		<header class="static-header centered">
		    <div class="static-crumb">
		        <h1 class="crumb-current">
		            Archived articles
		        </h1>
		    </div>
		    <span class="article-byline">These are the articles you posted to the (now defunct) Suite101 website. From this page you can download your entire archive, individually select posts to be converted to Suite's discussion format, update or close your account.</span>
		</header>   
		<div class="center-column">
		    <div class="archive-list archiveList">
		        <div class="article-list paginatedList">
		        </div>
		    </div>
		</div>
	</div>
</div>