<div class="chatCreateModal chat-create modal normal" style="display: none;" tabindex="-1">
    <div class="modal-card">       

                <div class="modal-header white">
                    <button data-dismiss="modal" aria-hidden="true" class="close-modal-card btn btn-transparent"><i class="io io-android-close"></i></button>       
                </div>        

                <div class="modal-body text-entry">

                    <div class="chat-member-search chatMemberSearch">
                        <div class="user-list userList">
                            <div class="paged-list-filter pagedListFilter">
                                <div class="ctxt-filter ctxtFilter">
                                    <div class="q-wrapper">
                                        <input type="text" class="ctxt-search-input ctxtSearchInput" placeholder="New private discussion with... "/>
                                    </div>
                                </div>
                            </div>                        
                            <div class="paginated-list paginatedList">
                                <div class="orbitalloader initial-loader blue"><i class="io io-load-c io-spin"></i></div>
                            </div>
                        </div>
                    </div>                    

                    <div class="chat-invited-container invitedContainer">
                        <div class="invite-list invites inviteList"></div>
                    </div>        

                    <div class="first-message firstMessage">
                        <div class="modal-message new-chat-message chatMessage"></div>
                    </div>

                </div> 
                <div class="modal-footer">
                    <button class="btn btn-footer-white" data-actionbind data-action="createIt">Start discussion</button>
                </div>  

            </div>
        </div> <!-- /.modal-body -->

    </div>
</div>

