<div class="chatInviteModal modal normal" style="display: none;" tabindex="-1">
    <div class="modal-card  ">       

        <div class="modal-header opaque white">
            <h2>Add people to this discussion</h2>
            <button data-dismiss="modal" aria-hidden="true" class="close-modal-card btn btn-transparent"><i class="io io-android-close"></i></button>       
        </div>

                <div class="modal-body">

                    <div class="chat-member-search chatMemberSearch">
                        <div class="user-list userList">
                            <div class="paged-list-filter pagedListFilter">
                                <div class="ctxt-filter ctxtFilter">
                                    <div class="q-wrapper">
                                        <input type="text" class="ctxt-search-input ctxtSearchInput" placeholder="Find someone to talk to"/>
                                    </div>
                                </div>
                            </div>                        
                            <div class="paginated-list paginatedList">
                                <div class="orbitalloader initial-loader blue"><i class="io io-load-c io-spin"></i></div>
                            </div>
                        </div>
                    </div>                    

                    <div class="chat-invited-container invitedContainer">
                        <div class="member-list memberList"></div>
                    </div>        

                </div> 
                <div class="modal-footer">
                    <button data-dismiss="modal" aria-hidden="true" class="btn btn-blue">Done</button>       
                </div>  

            </div>
        </div> <!-- /.modal-body -->

    </div>
</div>


