<div class="modal normal flagModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-card mini-card"> 
        <div class="modal-header logged-in">
            <h2 class="genericModalTitle">Report this {{thing}} to moderators.</h2>
            <button data-dismiss="modal" aria-hidden="true" class="close-modal-card btn btn-transparent"><i class="io io-android-close"></i></button>       
        </div>
        <div class="modal-body-container">
            <div class="modal-body modal-body modal-padded-scrollable scrollable-body scrollable-modal-body modalScrollable scrollme">
                <div class="modal-message flag-message flagMessage"></div>
            </div>
        </div>
        <div class="modal-footer centered butts">
            <button class="btn btn-blue addToSuiteDone closeMe" data-actionbind data-action="submitFlag">Submit</button>
        </div>     
    </div>
</div>



  

