<div class="modal pleaseLoginModal" style="display: none;">
    <div class="modal-body"> 
    <button class="close-mo-right btn btn-whiteline circle" data-dismiss="modal" aria-hidden="true"><i class="io io-android-close"></i></button>   
        <div class="registration-wrapper" data-view-bind="LoginView">
            <!-- Header -->
            {{#unless disabled}}
                         <div class="login-frame loginFrame">

                    {{#unless logoutType}}
                        <div class="login-nav loginNav login-choices centered">
                            <div class="reg-mode centered active" data-target="#loginPane" data-toggle="tab">Hi. Please sign in to continue</div>
                        </div>
                        <!-- Social -->
                        <div class="centered connect-header socialOptions">
                            <div class="soc-logins">
                                <a class="lefty btn square btn-transparent twitter whitelineBlue twitterRegister" href="/login/twitter/{{#if next}}?next={{next}}{{/if}}"><i class="io io-twitter"></i></a>
                                <a href="/login/facebook/{{#if next}}?next={{next}}{{/if}}" class="righty btn square btn-transparent facebook whitelineBlue faded"><i class="io io-social-facebook"></i></a>
                            </div>
                            <span class="inner-option">
                                <span class="option-label">or email:</span>
                            </span>
                        </div>
                        <div class="reset-blurb centered resetBlurb">
                            <p class="blurb">Submit your email address and we'll send you a reset link.</p>
                            <i class="io io-android-arrow-down"></i>
                        </div>
                        <div class="error-messages errorMessages">
                            {{#if error}}<p>We have an error: {{error}}</p>{{/if}}
                        </div>
                    {{/unless}}

                    <form class="login-form loginForm" action="/u/api/auth" autocomplete="off" autofill="off" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf}}">
                        <input type="hidden" name="authtype" value="{{authType}}">

                        {{#if logoutType}}
                            <button class="btn btn-blue  login-button loginButton" type="submit">Log me out</button>
                        {{else}}
                        <div class="login-fields">
                            <div class="field-wrapper">
                                <input autocapitalize="off" autofill="off" autocorrect="off" id="login_email" maxlength="255" name="email" type="text" value="" placeholder="Your email address" />                                
                            </div>
                            <div class="field-wrapper regExtras">
                                <input class="naked-login loginFullNameField" id="regFullName" autocomplete="off" autocapitalize="off" autocorrect="off" autofill="off" maxlength="255" name="fullname" type="text" value="" placeholder="Your full name"/>
                            </div>                        
                            <div class="field-wrapper firstPass active">
                                <input class="naked-login loginPwField bottommost" id="login_pw" maxlength="4096" name="password1" type="password" placeholder="Password">
                            </div>
                            <div class="field-wrapper regExtras">
                                <input class="naked-login loginPwFieldRepeat regbottom" id="login_pw_repeat" maxlength="4096" name="password2" type="password" placeholder="Enter it again">
                            </div>                        
                        </div>
                        <button class="btn btn-blue  login-button loginButton" type="submit">Sign in</button>
                        {{/if}}
                    </form>
                    <div class="auth-error {{#if error}}active{{/if}} authError">{{error}}</div>

                    <div class="reg-footer centered">
                    {{#unless logoutType}}                    
                        <div class="loginFoot active">
                            <div tabindex="-1" data-actionbind data-action="loadReg" class="white link pseudolink" title="Create an account">New here?</div> 
                            <div tabindex="-1" data-actionbind data-action="loadReset" class="white link pseudolink showReset" title="Forgot your password">Lost your password?</div> 
                        </div>
                        <div class="regFoot">
                            <div tabindex="-1" data-actionbind data-action="loadLogin" class="white link pseudolink" title="Already a member">Already a member?</div> 
                        </div>  
                        <div class="resetFoot">
                            <div tabindex="-1" data-actionbind data-action="loadLogin" class="white link pseudolink" title="Back to sign-in">Back to sign-in</div> 
                        </div>           
                    {{else}}  
                        <div class="logoutFoot">
                            <a href="/" data-navigate tabindex="-1" class="white link" title="Back to feed">...or go back to your feed</a> 
                        </div>                                   
                    {{/unless}}
                    </div>

                    
          </div>

            {{else}}
            <div class="lonely-preamble">
                <p>We've just completed a service upgrade and have temporarily disabled logins so we can rattle it around, run some tests, clean up after ourselves.</p>
                <p>Apologies for the disruption – opening up again shortly.</p>
            </div>
            {{/unless}}
        </div>
    </div>
</div>