 <div class="crumb-controls chat-quicksearch quickSearchShell">
    <div class="crumb-control-container">
    <h3 class="quick-search-title quickSearchTitle">Invite someone to the conversation</h3>
        <div class="min-form-field quickSearchInput" data-placeholder="Search for a member or paste an email address" placeholder="Search for a member or paste an email address" contenteditable="true"></div>
        <div class="form-field-footer formFieldFooter">
            <div class="btn btn-sm pull-left btn-blue submit inputSubmit" data-actionbind data-action="doQuickSearch">Fetch!</div>
            <div class="btn btn-sm pull-left with-results clear-this submit withResults" data-actionbind data-action="resetQuickSearch">Clear</div>
        </div>
    </div>
    <div class="quick-search-results quickSearchResults">
    </div>
</div>