<li class="response-teaser" data-slug="{{slug}}" data-id="{{id}}" itemscope itemtype="http://schema.org/Article">

        <a href="{{absoluteUrl}}" class="wrapping-anchor" data-slug="{{slug}}" data-id="{{id}}" title="{{title}}" data-navigate>

            <div style="background-image: url({{authorImg}})" class="profile-image teaser-main small"></div>
            <div class="response-teaser-content">
                <h3 class="title">{{title}}</h3>     
                <div class="footer">                   
	                <span class="auth-name">{{authorName}} </span>
	                <span class="date-stamp">{{timeAgo created}}</span>
                </div>
            </div>

        </a>

</li>