<div class="footer-image-wrapper">
    <div class="hero-img" style="background-image: url('/static/images/heroes/banner-1.jpg')"></div>
    <div class="footer-content footerContent">
        <div class="center-column centered">
            <div class="article-teaser">
                <h4 class="cta-heading">Have a story to tell?</h4>
                <div class="node-feature white centered">
                    <p>Suite is a free, simple, no-strings community of everyday storytellers.</p>
                </div>
                <div class="footer-butts">
                    <a href="#" data-actionbind data-action="loginModal" class="btn btn-blueTranslucent">Create an account</a>
                </div>
            </div>   
        </div> 
    </div>                               
</div>

