<div class="addSomethingModal modal normal suite-manage-modal" style="display: none;" tabindex="-1">
    <div class="modal-card center-column">
        <div class="modal-header">
            <h2 class="newStoryMoHeader">Add a something to this Suite</h2>
            <button data-dismiss="modal" aria-hidden="true" class="close-modal-card btn btn-transparent"><i class="io io-android-close"></i></button>       
        </div>
        <div class="modal-body modal-padded-scrollable scrollable-body scrollable-modal-body modalScrollable scrollme">

                    <div class="add-something-actions addSomethingActions">
                        <div class="something-list somethingList">
                            <div class="paged-list-filter pagedListFilter">
                                <div class="ctxt-filter ctxtFilter">
                                    <div class="q-wrapper">
                                        <input type="text" class="ctxt-search-input ctxtSearchInput" placeholder="Paste a link or type to search"/>
                                    </div>
                                </div>
                            </div>                        
                            <div class="paginatedList">
                                <div class="orbitalloader initial-loader blue"><i class="io io-load-c io-spin"></i></div>
                            </div>
                        </div>
                    </div>

        </div>

        <div class="modal-footer centered add-to-footer">
            <button type="button" class="btn btn-fineline" data-dismiss="modal" aria-hidden="true">Done</button>
        </div>
    </div>
</div>






      

