<ul class="suite-edit-actions editActions">      
	<!-- <li class="act up cancel"><a href="#" title="Edit" class="tip btn btn-dark" data-actionbind data-action="toggleEditAction">Cancel</a></li> -->

	<li class="act up privacy">
		<a title="Privacy" class="tip btn btn-dark dropdown-toggle" data-toggle="dropdown">Private</a>
			<ul class="dropdown-menu create-it top-drop actions">               
                <li><a href="/new"><i class="io io-edit"></i>Private</a></li>
                <li class="linklike" data-actionbind data-action="openSuiteCreateModal"><i class="io io-ios-browsers-outline"></i>Public</li>
              </ul>
          </li>

	<li class="act up save"><a class="save btn saveSuite btn-blueTranslucent tip " data-actionbind data-action="saveSuite" title="Save">Done</a></li>
</ul>
