<div class="page-container pageContainer" id="admin-tag-manager">
    <div class="static-main">

		<header class="static-header">
		    <div class="center-column">
		        <div class="static-crumb">
		            <h1 class="crumb-current">
		                Suite Admin
		            </h1>
		            <ul class="about-links aboutLinks">
		                <li class="crumb-link"><a itemprop="url" data-navigate href="/admin/tags" class="wrapping-anchor" title="Tags"><span itemprop="name">Tag manager</span></a></li>
		                <li class="crumb-link"><a itemprop="url" data-navigate href="/admin/members" class="wrapping-anchor" title="Members"><span itemprop="name">Member search</span></a></li>
		                <li class="crumb-link"><a itemprop="url" data-navigate href="/admin/payments" class="wrapping-anchor" title="Payments"><span itemprop="name">Payments</span></a></li>
		            </ul>
		        </div>
		    </div>
		</header>

		<div class="center-column">
		    <div class="article-body static-body">
		    <p>Tag manager...</p>

		    </div>
		</div>

    </div>
</div>