<div class="top-drawer tertiaryTopDrawer">
    <button data-actionbind data-action="tertiaryDrawerBeGone" class="btn circle pull-left btn-transparent"><i class="io io-ios-arrow-back"></i></button> 
    <div class="sec-d-header centered">{{title}}</div>
    <button data-actionbind data-action="closeDrawer" class="btn circle pull-right btn-transparent"><i class="io io-android-close"></i></button>       
</div>

<div class="inner-drawer righty innerTertiaryDrawer drawerScrollable">                         
	<div class="mod-content-list modContentList">
	    <div class="innerDrawerContent inner-drawer-content paginatedList">
	        <div class="orbitalloader blue"><i class="io io-load-c io-spin"></i></div>
	    </div>
	</div>
</div>