<div class="tourModal modal normal" style="display: none;" tabindex="-1">
    
    <div class="modal-card center-column">
        <div class="modal-body tour-body tourBody">

        <div class="tour-card tourCard active c1" id="card-1" data-card="1">
            <div class="tour-content tourContent centered">
                <h3>Welcome to Suite</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>
        </div>

        <div class="tour-card tourCard c2" id="card-2" data-card="2">
            <div class="tour-content tourContent centered">
                <h3>Suites are simple collaboratins, collections</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>        
        </div>

        <div class="tour-card tourCard c3" id="card-3" data-card="3">
            <div class="tour-content tourContent centered">
                <h3>Write about anything</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>        
        </div>        

        <div class="tour-card tourCard c4" id="card-4" data-card="4">
            <div class="tour-content tourContent centered">
                <h3>Welcome to Suite</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>
        </div>

        <div class="tour-card tourCard c5" id="card-5" data-card="5">
            <div class="tour-content tourContent centered">
                <h3>Welcome to Suite</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>
        </div>

        <div class="tour-card tourCard c6" id="card-6" data-card="6">
            <div class="tour-content tourContent centered">
                <h3>Welcome to Suite</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>
        </div>        

        <div class="tour-card tourCard c7" id="card-7" data-card="7">
            <div class="tour-content tourContent centered">
                <h3>Welcome to Suite</h3>
                <div class="preamble">
                    <p>A better way to bring our ideasasdf sa df asdf asdf as df as df</p>
                    <p>sadf sdf sad fsdf asfd asdf asd f af.</p>
                </div>
            </div>
        </div>          

        </div>

        <div class="tour-nav tourNav centered">
            <ul class="nav-items navItems">
                {{#each navItems}}
                    <li class="card-{{this}} navItem" data-card="{{this}}"><i class="io io-ios-circle-outline"></i></li>
                {{/each}}
            </ul>
        </div>

     </div>
 </div>