<div class="renderPeopleModal modal people-modal" style="display: none;" tabindex="-1">
    <div class="center-column">

    <div class="modal-header">
        <h2>{{#if lovesTitle}}{{numLoves}} {{pluralize numLoves "person" "people"}} love this story{{/if}}</h2>
    </div>
    <div class="modal-body modal-people-list scrollable-body scrollable-modal-body showUsers show-users scrollme">
        <div class="usersContainer"></div>
    </div>
    <div class="modal-footer centered add-to-footer">
    <button type="button" class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Done</button>
</div>
    </div>
</div>
